<div id="search-component">
  <label for="search-box">Pet Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let pet of pets$ | async">
      <a routerLink="/detail/{{ pet._id }}">
        {{ pet.name }}
      </a>
    </li>
  </ul>
</div>
